/*Hides overflow scrollbar in main content container.*/
.pushable {
    overflow-y: hidden;
    min-height: 100vh;
}


/*Aligns rows and main navbar to the universal container.*/
.ui.grid .row,
.pushable .pusher > div.grid {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 24px !important;
}

.ui.grid .row .column.info {
    padding: 0 !important;
}

/* Hero banner row has extra margin */
.ui.grid .row.hero {
    margin: 5.5em auto !important;
}

/* Other rows have margins on the bottom */
.ui.grid .row.info-row {
    margin: 2.75em auto 2.75em auto !important;
}

.ui.grid .row.full-width-row,
.ui.grid .row.full-width-row > .column {
    width: 100%;
    max-width: none;
    padding: 0;
}

/* Lightly shaded sections allow for visual organization */
.ui.grid .row-blocks {
    width: 100%;
    max-width: none;
    padding: 0;
}

/* Navbar */
.menu-wrapper {
    width: 100%;
    margin: 0 auto;
}
.menu-wrapper .ui.menu .menu-links-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

/* Navbar sizing */
.menu-wrapper > div {
    max-width: 1280px;
    margin: 0 auto;
}