/* hero banner header text */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap');

.hero .ui.header {
    font-size: 3.5em;
    text-align: left;
}

.info .ui.header.info-page-header {
    font-size: 3.5em;
}

.hero .column p.hero-text {
    font-size: 1.5em;
}

/* No emphasis styling for now.*/
.hero p.hero-text i.emph {
    font-style: normal;
}

/*Informational grid text-----------------*/
.column.info p {
    font-size: 1.5em;
    line-height: 1.85;
}

/* Informational pages with more text have smaller font size */
.row.info-row .column.info p.info-text,
.row.info-row .column.info ul.info-list {
    font-size: 1.25em;
    line-height: 2;
}

.column.info .header.large {
    font-size: 2.25em;
}

.column.info-left {
    text-align: left;
}

.column.info-right {
    text-align: right;
}

.column.info-center {
    text-align: center;
}

.column.info-left img {
    display: block;
    margin: 0 auto 0 0;
}

.column.info-right img {
    display: block;
    margin: 0 0 0 auto;
}

/*Informational pages may have shaded areas to encourage readability*/
.row-blocks.color-radish {
    background: #eaeaea;
}

/* Navbar styling */
.menu-wrapper h1.site-name {
    font-size: 1em;
    line-height: 1;
    margin: 0.5em 0 0 0.5em;
    font-family: 'Baloo Bhaina 2', Ubuntu, sans-serif;
}

.menu-wrapper {
    box-shadow: 0 10px 15px #eaeaea;
}

.menu-wrapper .ui.menu {
    border: none;
    box-shadow: none;
}

.menu-wrapper .ui.menu .item::before {
    background: none;
}

.menu-wrapper .ui.menu .item {
    font-size: 1.25em;
    border: none;
}

/* Accordion styling */
.accordion.info-accordion {
    font-size: 1.25em;
}
.ui.form.email-form {
    font-size: 1.5em;
}

.ui.form.email-form .fields {
    margin: 0;
}

.ui.form.email-form .fields .field {
    margin: 1.25em 0;
}

.ui.form.email-form .fields .field .input {
    margin: 1em 0;
}

.select-template {
    margin-bottom: 2em;
    font-size: 1.5em;
    color: gray;
}

.email-output {
    margin-top: 3em;
    font-size: 1em;
    text-align: left;
}

.email-please {
    font-size: 1.5em;
    margin-top: 3em;
}

/* Additional footer styling */
.ui.grid.footer-container {
    padding: 6em 0;
    font-size: 1.25em;
    background: #f7ffdb;
}

.row.footer {
    padding: 1.5em;
    text-align: left;
    line-height: 2;
    background: none;
}

.row.footer p {
    line-height: 2;
}

.row.footer a {
    margin-bottom: 1em;
}

.ui.grid.footer-container > .row.footer > .column {
    padding: 0;
}

.footer .site-logo-item {
    display: block;
}

.footer h1.site-name {
    line-height: 1;
    margin: 0.5em 0 0 0.5em;
    font-family: 'Baloo Bhaina 2', Ubuntu, sans-serif;
    display: inline-block;
    text-align: left;
    color: black;
}
.footer .site-logo-item img {
    display: inline-block;
    margin: -.3em 0;
    width: 2.5em;
}
.footer .ui.horizontal.list {
    font-size: 1em;
}
.footer .ui.horizontal.list > a.item {
    color: #551a03 !important;
    font-size: 1.25em;
    text-decoration: underline;
    font-weight: bold;
    margin-right: 3em;
    margin-left: 0;
}